<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/SportDB</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.default_schema">public</property>
        <property name="dialect">org.hibernate.dialect.ProgressDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <mapping class="demo.entities.SessionEntity"/>
        <mapping class="demo.entities.ClientEntity"/>
        <mapping class="demo.entities.ClientSessionEntity"/>
        <mapping class="demo.entities.LobbyEntity"/>
        <mapping class="demo.entities.ProfileEntity"/>
        <mapping class="demo.entities.TrainerEntity"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>